.mean-menu ul li a{
    font-size: 35px !important;
    color: #000 !important;
    border: 1px solid #F18345;
    width: 100%;
    text-align: center;
    transition: 1s;
}
.mean-menu ul li a:first-child{
    margin-left: 35px !important;
}
.mean-menu ul li .active, .mean-menu ul li:hover a{
    background-color: #F18345;
    color: #fff !important;
}
.desktop-nav .navbar .navbar-nav {
    margin-left: auto;
    margin-right: 95px !important;
}
.default-btn.two{
    background-color: #000 !important;
}
.navbar-area{
    box-shadow: 10px 10px 10px #D6D6D6;
    /*box-shadow: 0px 0px 10px #7c4c47;*/
    position: relative;
    z-index: 99999;
    position: relative;
    width: 100%;
    left: 0;
}
.hero-slider-area{
    background-color: #F0F0F0;
    color: #fff !important;
}
/*.hero-slider-area h1,p{*/
/*    color: #fff !important;*/
/*}*/

.featured-item-two{
    box-shadow: 0 0 15px #D6D6D6;
}
.featured-item-two::before{
    background-color: #F18345;
}
.featured-item-two a i{
    color: #F18345 !important;
}
.featured-item-two h3{
    font-size: 27px;
}
.featured-item-two:hover a i{
    color: #fff !important;
}

@media only screen and (max-width: 991px){
    .mobile-responsive-nav .mobile-responsive-menu.mean-container .mean-nav ul li a.active {
        color: #F18345;
    }
    .mobile-responsive-nav .mobile-responsive-menu.mean-container .mean-nav ul li:hover a {
        color: #F18345 !important;
        background-color: #000 !important;
    }
    .mobile-responsive-nav .mobile-responsive-menu.mean-container .mean-nav ul {
        font-size: 25px !important;
    }
    .mobile-responsive-nav .mobile-responsive-menu.mean-container .mean-nav ul li a {
        padding: 0px 18px;
    }
    .mobile-responsive-nav .mean-container a.meanmenu-reveal span {
        background: #F18345;
    }

    .mobile-responsive-nav .mean-container a.meanmenu-reveal {
        color: #F18345;
        position: absolute;
        top: 15px;
    }
    .side-nav-responsive .dot-menu .circle-inner .ri-search-line{
        background: #F18345;
        border-radius: 50%;
        color: #fff;
        font-size: 25px;
        height: 40px;
        width: 41px;
        text-align: center;
    }
    .side-nav-responsive .side-nav-inner .side-nav{
        background: #F18345;
    }
    .side-nav-responsive .side-nav-inner .side-nav .side-item .search-form button {
        background-color: #F18345;
    }
    .side-nav-responsive .side-nav-inner .side-nav .side-item .search-form button:hover {
        background-color: #000;
    }
    .side-nav-responsive .dot-menu{
        display: inline-flex;
    }
    .side-nav-responsive .dot-menu .side-item{
        position: absolute;
        right: 68px;
        top: -5px;
    }
    .side-nav-responsive .dot-menu .side-item a{
        height: 40px;
        width: 41px;
        background: #F18345;
        font-size: 25px;
        text-align: center;
        border-radius: 50%;
        color: #fff;
    }


}